<div class="container">
    <div class="title">
      <h1>Shop Stalls</h1>
      <p>Administra fácilmente tu negocio con Shop Stalls &#174;</p>
    </div>
    <div class="register_form">
      <h2>Modificar un Producto</h2>
      <form method="post">
        <mat-form-field appearance="outline" hideRequiredMarker>
            <mat-label>Id</mat-label>
            <input matInput required [formControl]="id" type="number">
          </mat-form-field>
        <mat-form-field appearance="outline" hideRequiredMarker>
          <mat-label>Nombre</mat-label>
          <input matInput required [formControl]="name">
        </mat-form-field>
        <mat-form-field appearance="outline" hideRequiredMarker>
          <mat-label>Precio</mat-label>
          <input matInput required [formControl]="price" type="number">
        </mat-form-field>
        <mat-form-field appearance="outline" hideRequiredMarker>
            <mat-label>Cantidad</mat-label>
            <input matInput required [formControl]="quantity" type="number">
          </mat-form-field>
        <button mat-raised-button type="submit" (click)="modifyProduct()"
          [disabled]="name.invalid || price.invalid ||quantity.invalid">Registrar</button>
      </form>
    </div>
  </div>