<form [formGroup]='itemForm' (ngSubmit)='onSubmit()' *ngIf='itemForm'>
    <p>
        <mat-form-field appearance="outline" hideRequiredMarker>
            <mat-label>ID</mat-label>
            <input matInput required formControlName='id' type="number">
            <mat-error *ngIf="itemForm.invalid">Campo requerido</mat-error>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline" hideRequiredMarker>
            <mat-label>Cantidad</mat-label>
            <input matInput required formControlName="quantity" type="number">
            <mat-error *ngIf="itemForm.invalid">Campo requerido</mat-error>
        </mat-form-field>
    </p>

    <button mat-raised-button type="submit" [disabled]='itemForm.invalid'>Añadir</button>
</form>
<app-product-detail [id]="id"></app-product-detail>
<mat-spinner *ngIf='waiting' diameter='50'></mat-spinner>