<h1>Venta</h1>
<hr>
<form [formGroup]='form'>
  <mat-form-field appearance="outline">
    <mat-label>Identificación del cliente</mat-label>
    <input matInput type="number" formControlName='dni'>
    <mat-error *ngIf='form.get("dni").invalid'>Campo requerido</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Nombre del Cliente</mat-label>
    <input matInput type="text" formControlName='clientName'>
    <mat-error *ngIf='form.get("clientName").invalid'>Campo requerido</mat-error>
  </mat-form-field>
</form>
<hr>
<div class="d1">
  <form (ngSubmit)='onSubmit()'>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Codigo</mat-label>
        <input matInput type="number" [formControl]='barcodeInput'>
        <mat-error *ngIf='barcodeInput.invalid'>Campo requerido</mat-error>
      </mat-form-field>
    </p>
    <button mat-raised-button type="submit" [disabled]='barcodeInput.invalid'>Añadir</button>
  </form>
  <app-product-detail *ngIf="barcodeInput.value" [id]='barcode'></app-product-detail>
  <div *ngIf='!retrievedProduct && barcodeInput.value && !isWaiting'>Este producto no existe.</div>
</div>

<div class="d2" *ngIf='items.length' style="position: absolute;">
  <mat-table #table [dataSource]="items.controls" class="mat-elevation-z8" style="width: 100%;">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.get('product.namer').value}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
      <mat-cell *matCellDef="let element" [formGroup]="element">
        <mat-form-field>
          <input matInput placeholder="Cantidad" formControlName="quantity">
          <mat-error *ngIf='element.get("quantity").invalid'>
            <mat-error *ngIf='element.get("quantity").errors.required'>Campo requerido</mat-error>
            <mat-error *ngIf='element.get("quantity").errors.min'>Dato inválido</mat-error>
            <mat-error *ngIf='element.get("quantity").errors.max'>Existencia excedida</mat-error>
          </mat-error>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.get('price').value}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="subtotal">
      <mat-header-cell *matHeaderCellDef> Subtotal </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.get('price').value * element.get('quantity').value}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="x">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="removeProduct(element.get('product.barcode').value)">
        <mat-icon>delete</mat-icon>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let element; columns: displayedColumns"
      [class.hide]="element.get('product.barcode').value == -1"></mat-row>
  </mat-table>
  <button mat-raised-button (click)='createInvoice()'>Continuar</button>
  <button mat-raised-button>Salir</button>
</div>

<mat-spinner *ngIf='isWaiting' diameter:50></mat-spinner>