<h1>Compra de producto</h1>
<div class="d1">
  <form [formGroup]='purchaseForm' (ngSubmit)='addProduct()'>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Proveedor</mat-label>
        <mat-select formControlName='provider'>
          <mat-option *ngFor='let supplier of suppliers' [value]="supplier.id">{{ supplier.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Codigo</mat-label>
        <input matInput type="number" formControlName='code'>
      </mat-form-field>
    </p>
    <button mat-raised-button type="submit">Añadir</button>
  </form>

  <app-product-detail *ngIf="code.value" [id]='idProd'></app-product-detail>

</div>
<div class="d2" *ngIf='purchaseItems.length' style="position: absolute;">
  <table #table mat-table [dataSource]="purchaseItems" class="mat-elevation-z8" style="width: 100%;">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.product.name}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Precio </th>
      <td mat-cell *matCellDef="let element"> {{element.product.price}} </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Cantidad </th>
      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover-row"></tr>
  </table>
</div>