<h1>Compra de producto</h1>
<div class="d1">
  <form [formGroup]='purchaseForm'>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Proveedor</mat-label>
        <mat-select formControlName='supplier.id'>
          <mat-option *ngFor='let supplier of suppliers' [value]="supplier.id">{{ supplier.name }}</mat-option>
        </mat-select>
        <mat-error>Selecciona un proveedor</mat-error>
      </mat-form-field>
    </p>
  </form>
  <form (ngSubmit)='addProduct()'>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Código</mat-label>
        <input matInput type="number" [formControl]='code'>
        <mat-error>Campo requerido</mat-error>
      </mat-form-field>
    </p>
    <button mat-raised-button type="submit">Añadir</button>
  </form>

  <app-product-detail *ngIf="code.value" [id]='barcode'></app-product-detail>
  <div *ngIf='!retrievedProduct && code.value && !isWaiting'>Este producto no existe. <a [routerLink]=''
      (click)=openDialog()>Crear?</a></div>
</div>

<div class="d2" *ngIf='items.length' style="position: absolute;">
  <mat-table #table [dataSource]="items.controls" class="mat-elevation-z8" style="width: 100%;">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.get('product.name').value}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
      <mat-cell *matCellDef="let element" [formGroup]="element">
        <mat-form-field>
          <input matInput placeholder="cantidad" formControlName="quantity" required>
          <mat-error>Valor inválido</mat-error>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
      <mat-cell *matCellDef="let element" [formGroup]="element">
        <mat-form-field>
          <input matInput placeholder="precio" formControlName="price" required>
          <mat-error>Valor inválido</mat-error>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="subtotal">
      <mat-header-cell *matHeaderCellDef> Subtotal </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.get('price').value * element.get('quantity').value}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="x">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="removeProduct(element.get('product.id').value)">
        <mat-icon>delete</mat-icon>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let element; columns: displayedColumns"
      [class.hide]="element.get('product.id').value == -1"></mat-row>
  </mat-table>
  <button mat-raised-button (click)='createPurchase()'>Continuar</button>
  <button mat-raised-button>Salir</button>
</div>

<mat-spinner *ngIf='isWaiting' diameter:50></mat-spinner>