<h1>Compra de producto</h1>
<div class="d1">
  <form [formGroup]='purchaseForm' (ngSubmit)='addProduct()'>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Proveedor</mat-label>
        <mat-select formControlName='provider'>
          <mat-option *ngFor='let supplier of suppliers' [value]="supplier.id">{{ supplier.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Codigo</mat-label>
        <input matInput type="number" formControlName='code'>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Cantidad</mat-label>
        <input matInput type="number" formControlName='quantity'>
      </mat-form-field>
    </p>
    <button mat-raised-button type="submit">Añadir</button>
  </form>

  <app-product-detail *ngIf="code.value" [id]='barcode'></app-product-detail>
  <div *ngIf='!retrievedProduct && code.value'>Este producto no existe. <a [routerLink]='' (click)=openDialog()>Crear?</a></div>

</div>
<div class="d2" *ngIf='purchaseItems.length' style="position: absolute;">
  <app-purchase-detail #table [purchaseItems]='purchaseItems' (event)='removeProduct($event)' (quantityEvent)='changeRow($event)'></app-purchase-detail>
  <button mat-raised-button (click)='createPurchase()'>Continuar</button>
  <button mat-raised-button>Salir</button>
</div>