<mat-card class="card" *ngIf='product'>
    <mat-card-header>
        <mat-card-title>{{ product.product.name }}</mat-card-title>
        <mat-card-subtitle>Código de barras: {{ product.product.barcode }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            Precio de venta: {{ product.salePrice }}
        </p>
        <p>
            Cantidad: {{ product.quantity }}
        </p>
        <p>
            Precio de compra: {{ product.purchasePrice }}
        </p>
        <p>
            Stock mínimo: {{ product.product.minStock }}
        </p>
        <p *ngIf='product.product.state == "AVAILABLE"'>
            Estado: Producto disponible
        </p>
        <p *ngIf='product.product.state != "AVAILABLE"'>
            Estado: Producto no disponible
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button *ngIf='product.product.state == "AVAILABLE"' mat-raised-button (click)='deleteProduct()'>Eliminar</button>
        <button *ngIf='product.product.state != "AVAILABLE"' mat-raised-button (click)='deleteProduct()'>Recuperar</button>
        <button mat-raised-button (click)='modifyProduct()'>Modificar</button>
    </mat-card-actions>
</mat-card>