<h2>Registro de Producto</h2>
<form [formGroup]='productForm' class="register_form" (ngSubmit)="createProduct()">
  <p>
    <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-label>Código</mat-label>
      <input matInput required formControlName="id" type="number">
      <mat-error *ngIf='productForm.invalid'>Campo requerido</mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-label>Nombre</mat-label>
      <input matInput required formControlName="name" type="text">
      <mat-error *ngIf='productForm.invalid'>Campo requerido</mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-label>Precio</mat-label>
      <input matInput required formControlName="price" type="number">
      <mat-error *ngIf='productForm.invalid'>Campo requerido</mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-label>Cantidad</mat-label>
      <input matInput required formControlName="quantity" type="number">
      <mat-error *ngIf='productForm.invalid'>Campo requerido</mat-error>
    </mat-form-field>
  </p>
  <button mat-raised-button type="submit"
    [disabled]="productForm.invalid">Registrar</button>
</form>