<h2>Registro de Producto</h2>
<form method="post" class="register_form">
  <p>
    <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-label>Nombre</mat-label>
      <input matInput required [formControl]="name">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-label>Precio</mat-label>
      <input matInput required [formControl]="price" type="number">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-label>Cantidad</mat-label>
      <input matInput required [formControl]="quantity" type="number">
    </mat-form-field>
  </p>
  <button mat-raised-button type="submit" (click)="createProduct()"
    [disabled]="name.invalid || price.invalid ||quantity.invalid">Registrar</button>
</form>