<div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
        <tr class="top">
            <td colspan="2">
                <table>
                    <tr>
                        <td class="title">
                            <img src="https://www.sparksuite.com/images/logo.png"
                                style="width: 100%; max-width: 300px" />
                        </td>

                        <td>
                            Compra #{{ purchase.id }}<br />
                            Fecha de creación: {{ purchase.date | date: 'medium'}}<br />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="information">
            <td colspan="2">
                <table>
                    <tr>
                        <td>
                            <h2>Datos del proveedor</h2>
                            {{ purchase.supplier.name }}<br />
                            {{ purchase.supplier.address }}<br />
                            {{ purchase.supplier.phone }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="heading">
            <td>Código</td>

            <td>Producto</td>

            <td>Cantidad</td>

            <td>Precio Unitario</td>

            <td>Subtotal</td>
        </tr>

        <tr class="item" *ngFor='let product of purchase.products'>
            <td>{{ product.product.barcode }}</td>

            <td>{{ product.product.name }}</td>

            <td>{{ product.quantity }}</td>

            <td>{{ product.price }}</td>

            <td>{{ product.price * product.quantity }}</td>
        </tr>

        <tr class="total">
            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td>Total: ${{ purchase.amountToPay }}</td>
        </tr>
    </table>
</div>