<div class="container">
  <div class="title">
    <h1>Shop Stalls</h1>
    <p>Administra fácilmente tu negocio con Shop Stalls &#174;</p>
  </div>
  <div class="register_form">
    <h2>Registro de Usuario</h2>
    <form method="post">
      <mat-form-field appearance="outline" hideRequiredMarker>
        <mat-label>Nombre</mat-label>
        <input matInput required [formControl]="name">
        <mat-error *ngIf="name.invalid">{{getErrorMessage(name)}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" hideRequiredMarker>
        <mat-label>Apellido</mat-label>
        <input matInput required [formControl]="last">
        <mat-error *ngIf="last.invalid">{{getErrorMessage(last)}}</mat-error>
      </mat-form-field>
      <app-email-form [email]="email"></app-email-form>
      <app-password-form [password]="password"></app-password-form>
      <mat-form-field appearance="outline" hideRequiredMarker>
        <mat-label>Edad</mat-label>
        <input matInput type="number" required [formControl]="age">
        <mat-error *ngIf="age.invalid">{{getErrorMessage(age)}}</mat-error>
      </mat-form-field>
      <button mat-raised-button type="submit" (click)="signUpUser()"
        [disabled]="name.invalid || last.invalid ||email.invalid || password.invalid || age.invalid">Registrar</button>
    </form>
  </div>
</div>