<mat-toolbar color="primary">
    <span routerLink=''>Shop Stalls</span>
    <span class="example-spacer"></span>
    <a mat-button routerLink="/users">Usuarios</a>
    <a mat-button routerLink="/products">Inventario</a>
    <a mat-button routerLink="/services">Servicios</a>
    <a mat-button routerLink="/login">Iniciar sesión</a>
    <a mat-button (click)="logOut()" routerLink="../">Cerrar Sesión</a>
    <!-- <button mat-icon-button class="example-icon favorite-icon">
        <mat-icon>notifications</mat-icon>
    </button> -->
</mat-toolbar>