<mat-toolbar color="primary">
    <span routerLink=''>Shop Stalls</span>
    <span class="example-spacer"></span>
    <div [class.hide]='!localStorage'>
        <a mat-button routerLink="/users">Usuarios</a>
        <a mat-button routerLink="/purchases">Compras</a>
        <a mat-button routerLink="/invoices">Ventas</a>
        <a mat-button routerLink="/inventory">Inventario</a>
        <a mat-button routerLink="/services">Servicios</a>
        <a mat-button (click)="logOut()" routerLink="../">Cerrar Sesión</a>
    </div>
    <a mat-button routerLink="/login" [class.hide]='localStorage'>Iniciar sesión</a>
    <!-- <button mat-icon-button class="example-icon favorite-icon">
        <mat-icon>notifications</mat-icon>
    </button> -->
</mat-toolbar>