<h2>Registro de Servicios</h2>

<form method="post" class="register_form">
  <p>
    <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-label>Nombre</mat-label>
      <input matInput required [formControl]="name_service">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-label>Precio</mat-label>
      <input matInput required [formControl]="price">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-label>Caracteristicas</mat-label>
      <input matInput required [formControl]="characteristics">
    </mat-form-field>
  </p>
  <button mat-raised-button type="submit" (click)="createService ()"
    [disabled]="name_service.invalid || price.invalid ||characteristics.invalid">Registrar</button>
</form>