<div>
    <h2>Inicio de Sesión</h2>
</div>

<form [formGroup]='loginForm' (ngSubmit)='loginForm.valid? logIn():null' class="loginForm">
    <p>
        <mat-form-field appearance="outline" hideRequiredMarker>
            <mat-label>Correo electrónico</mat-label>
            <input matInput formControlName='username' required>
            <mat-error *ngIf="username.invalid && username.errors.required">Campo Requerido</mat-error>
            <mat-error *ngIf="username.invalid && username.errors.email">Correo electrónico no válido</mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline" hideRequiredMarker>
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="hidePass ? 'password' : 'text'" required formControlName="password">
            <button mat-icon-button matSuffix (click)="hidePass = !hidePass" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePass">
                <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="password.invalid && password.errors.required">Campo Requerido</mat-error>
            <mat-error *ngIf="password.invalid && password.errors.minlength && !password.errors.pattern">Mínimo 8 caracteres</mat-error>
            <mat-error *ngIf="password.invalid && password.errors.pattern">Contiene ñ</mat-error>
        </mat-form-field>
    </p>
    <button mat-raised-button type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</button>
</form>

<mat-spinner *ngIf='waiting' diameter='50'></mat-spinner>

<div *ngIf="result">
    {{result | json}}
</div>